.ethermap img {
  width: 70%;
  border: none !important;
  box-shadow: none !important;
}

.logo img {
  width: 50%;
  border: none !important;
  box-shadow: none !important;
}

.logoeth img {
  width: 20%;
  border: none !important;
  box-shadow: none !important;
}

