.ethermap img {
  width: 70%;
  border: none !important;
  box-shadow: none !important;
}

.logo img {
  width: 60%;
  border: none !important;
  box-shadow: none !important;
}

.logoeth img {
  width: 30%;
  border: none !important;
  box-shadow: none !important;
}

.reveal ul.list-long-items li {
   font-size: 0.5em;
}

